<!-- contact_success.html -->
{% extends 'base.html' %}
{% load static %}

{% block title %}About Us{% endblock %}

{% block content %}

    

<div class="2xl:container 2xl:mx-auto lg:py-16 lg:px-20 md:py-12 md:px-6 py-9 px-4">
    <div class="flex flex-col lg:flex-row justify-between gap-8">
        <div class="w-full lg:w-5/12 flex flex-col justify-center">
            <h1 class="text-3xl lg:text-4xl font-bold leading-9 text-gray-800 dark:text-white pb-4">About Us</h1>
            <p class="font-normal text-base leading-6 text-gray-600 dark:text-white">Welcome to Smart To Let, your online solution for all rental needs in Bangladesh. We provide a digital platform to effortlessly find family homes, bachelor pads, offices, hostels, sublets, and mess facilities across the country, eliminating the hassles of dealing with brokers. Our goal is to contribute to the digitalization of Bangladesh's rental market, offering landlords a convenient way to find tenants and tenants the perfect accommodation, all while saving time and costs. With our user-friendly platform, you can easily publish rental advertisements for any area in Bangladesh, making leaflets a thing of the past. Join us today to rent or find your ideal home hassle-free.</p>
        </div>
        <div class="w-full lg:w-8/12">
            <img class="w-full h-full" src="{% static 'images/slider-3.jpg' %}" alt="A group of People" />
        </div>
    </div>
    <div class="container flex justify-center mx-auto pt-16">
        <div>
            <p class="text-gray-500 dark:text-gray-200 text-lg text-center font-normal pb-3">BUILDING TEAM</p>
            <h1 class="xl:text-4xl text-3xl text-center text-gray-800 dark:text-white font-extrabold pb-6 sm:w-4/6 w-5/6 mx-auto">The Talented People Behind the Scenes of the System</h1>
        </div>
    </div>
    <div class="w-full bg-gray-100 dark:bg-gray-800 px-10 pt-10">
        <div class="container mx-auto">
            <div role="list" aria-label="Behind the scenes People " class="lg:flex md:flex sm:flex items-center xl:justify-between flex-wrap md:justify-around sm:justify-around lg:justify-around">
                <div role="listitem" class="xl:w-1/3 sm:w-3/4 md:w-2/5 relative mt-16 mb-32 sm:mb-24 xl:max-w-sm lg:w-2/5">
                    <div class="rounded overflow-hidden shadow-md bg-white dark:bg-gray-900">
                        <div class="absolute -mt-20 w-full flex justify-center">
                            <div class="h-32 w-32">
                                <img src="{% static 'images/del-3.jpg' %}" alt="Display Picture of Andres Berlin" role="img" class="rounded-full object-cover h-full w-full shadow-md" />
                            </div>
                        </div>
                        <div class="px-6 mt-16">
                            <h1 class="font-bold dark:text-white text-3xl text-center mb-1">Delowar Hossain</h1>
                            <p class="text-gray-800 dark:text-white text-sm text-center">Developer</p>
                            <p class="text-center text-gray-600 dark:text-gray-200 text-base pt-3 font-normal">This is a wonderful and useful System which will be time and cost savior for you to find your dream house.</p>
                            <div class="w-full flex justify-center pt-5 pb-5">
                                <a href="https://github.com/mrdel56" class="mx-5">
                                    <div aria-label="Github" role="img">
                                        <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/gray-bg-with-description-svg1.svg" alt="github" />
                                    </div>
                                </a>
                                <a href="javascript:void(0)" class="mx-5">
                                    <div aria-label="Twitter" role="img">
                                        <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/gray-bg-with-description-svg2.svg" alt="twitter" />
                                    </div>
                                </a>
                                <a href="javascript:void(0)" class="mx-5">
                                    <div aria-label="Instagram" role="img">
                                        <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/gray-bg-with-description-svg3.svg" alt="instagram" />
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div role="listitem" class="xl:w-1/3 sm:w-3/4 md:w-2/5 relative mt-16 mb-32 sm:mb-24 xl:max-w-sm lg:w-2/5">
                    <div class="rounded overflow-hidden shadow-md bg-white dark:bg-gray-900">
                        <div class="absolute -mt-20 w-full flex justify-center">
                            <div class="h-32 w-32">
                                <img src="{% static 'images/atik.jpeg' %}" alt="Display Picture of Andres Berlin" role="img" class="rounded-full object-cover h-full w-full shadow-md" />
                            </div>
                        </div>
                        <div class="px-6 mt-16">
                            <h1 class="font-bold dark:text-white text-3xl text-center mb-1">
                                Md. Atikul Islam Atik</h1>
                            <p class="text-gray-800 dark:text-white text-sm text-center">Developer</p>
                            <p class="text-center text-gray-600 dark:text-gray-200 text-base pt-3 font-normal">This is a wonderful and useful System which will be time and cost savior for you to find your dream house.</p>
                            <div class="w-full flex justify-center pt-5 pb-5">
                                <a href="https://github.com/atik65" class="mx-5">
                                    <div aria-label="Github" role="img">
                                        <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/gray-bg-with-description-svg1.svg" alt="github" />
                                    </div>
                                </a>
                                <a href="javascript:void(0)" class="mx-5">
                                    <div aria-label="Twitter" role="img">
                                        <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/gray-bg-with-description-svg2.svg" alt="twitter" />
                                    </div>
                                </a>
                                <a href="javascript:void(0)" class="mx-5">
                                    <div aria-label="Instagram" role="img">
                                        <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/gray-bg-with-description-svg3.svg" alt="instagram" />
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div role="listitem" class="xl:w-1/3 sm:w-3/4 md:w-2/5 relative mt-16 mb-32 sm:mb-24 xl:max-w-sm lg:w-2/5">
                    <div class="rounded overflow-hidden shadow-md bg-white dark:bg-gray-900">
                        <div class="absolute -mt-20 w-full flex justify-center">
                            <div class="h-32 w-32">
                                <img src="{% static 'images/rezu.jpeg' %}" alt="Display Picture of Andres Berlin" role="img" class="rounded-full object-cover h-full w-full shadow-md" />
                            </div>
                        </div>
                        <div class="px-6 mt-16">
                            <h1 class="font-bold dark:text-white text-3xl text-center mb-1">Rezwan Ahmed</h1>
                            <p class="text-gray-800 dark:text-white text-sm text-center">UI/UX Designer</p>
                            <p class="text-center text-gray-600 dark:text-gray-200 text-base pt-3 font-normal">This is a wonderful and useful System which will be time and cost savior for you to find your dream house.</p>
                            <div class="w-full flex justify-center pt-5 pb-5">
                                <a href="https://github.com/rezwan52" class="mx-5">
                                    <div aria-label="Github" role="img">
                                        <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/gray-bg-with-description-svg1.svg" alt="github" />
                                    </div>
                                </a>
                                <a href="javascript:void(0)" class="mx-5">
                                    <div aria-label="Twitter" role="img">
                                        <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/gray-bg-with-description-svg2.svg" alt="twitter" />
                                    </div>
                                </a>
                                <a href="javascript:void(0)" class="mx-5">
                                    <div aria-label="Instagram" role="img">
                                        <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/gray-bg-with-description-svg3.svg" alt="instagram" />
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </div>

</div>

{% endblock %}
