<!-- contact_form.html -->
{% extends 'base.html' %}

{% block title %}Add Property{% endblock %}

{% block content %}
<div class="container mx-auto shadow-lg p-5 w-full md:w-2/3  lg:w-1/2  mt-5">
    <h2 class="text-3xl text-center text-[#F4511E] font-bold">Add Property</h2>
    <form method="post">
        {% csrf_token %}
        <div class="mb-3 flex flex-col">
            <label for="name" class="form-label">Category</label>
            <input type="text" class="border border-gray-400 px-3 py-2 rounded outline-none focus:border focus:border-[#F4511E]" id="name" name="category" required placeholder="Enter your Name">
        </div>
        <div class="mb-3 flex flex-col">
            <label for="rooms" class="form-label">Rooms</label>
            <input type="number" class="border border-gray-400 px-3 py-2 rounded outline-none focus:border focus:border-[#F4511E]" id="rooms" name="rooms" required placeholder="">
        </div>
         <div class="mb-3 flex flex-col">
            <label for="washroom" class="form-label">Washroom</label>
            <input type="number" class="border border-gray-400 px-3 py-2 rounded outline-none focus:border focus:border-[#F4511E]" id="washroom" name="washroom" required placeholder="Enter your Subject">
        </div>


        <div class="mb-3 flex flex-col">
            <label for="price" class="form-label">Price</label>
            <input class="border border-gray-400 px-3 py-2 rounded outline-none focus:border focus:border-[#F4511E]"  id="price" name="price"  required 
            placeholder=""
            >
        </div>
        <button type="submit" class="w-full bg-[#F4511E] text-white font-medium rounded px-5 py-3 hover:shadow-lg duration-200">Submit</button>
    </form>

 
</div>
</div>
  




{% endblock %}



