<!-- contact_form.html -->
{% extends 'base.html' %}

{% block title %}Add Property{% endblock %}

{% block content %}
<div class="container mx-auto shadow-lg p-5 w-full md:w-2/3  lg:w-1/2  mt-5">
    <h2 class="text-3xl text-center text-[#F4511E] font-bold">Add Property</h2>
    <form method="post", enctype="multipart/form-data">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit" class="w-full bg-[#F4511E] text-white font-medium rounded px-5 py-3 hover:shadow-lg duration-200">Submit</button>
    </form> 
</div>
  
{% endblock %}



