{% extends 'dashboard_base.html' %}
{% load static %}

{% block title %}
  My Profile
{% endblock %}

{% block content %}
  <div class="container mx-auto shadow-lg p-5 rounded-lg">
    {% comment %}alert start{% endcomment %}
    {% for message in messages %}
      <div id="toast-warning" class="flex items-center w-full max-w-xs p-4 text-gray-500 bg-white rounded-lg shadow dark:text-gray-400 dark:bg-gray-800 fixed bottom-12 right-5" role="alert">
        <div class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8 text-orange-500 bg-orange-100 rounded-lg dark:bg-orange-700 dark:text-orange-200">
          <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
            <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z" />
          </svg>
          <span class="sr-only">Warning icon</span>
        </div>
        <div class="ms-3 text-sm font-normal">{{ message }}</div>
        <button type="button" class="ms-auto -mx-1.5 -my-1.5 bg-white text-gray-400 hover:text-gray-900 rounded-lg focus:ring-2 focus:ring-gray-300 p-1.5 hover:bg-gray-100 inline-flex items-center justify-center h-8 w-8 dark:text-gray-500 dark:hover:text-white dark:bg-gray-800 dark:hover:bg-gray-700" data-dismiss-target="#toast-warning" aria-label="Close">
          <span class="sr-only">Close</span>
          <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
          </svg>
        </button>
      </div>
    {% endfor %}

    {% comment %}alert end{% endcomment %}

    <div class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-5">
      {% comment %}credit package card{% endcomment %}

      {% for package in packages %}
        <div>
          <div class="w-full p-6 bg-white border border-gray-200 rounded-lg shadow-lg">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">{{ package.package_name }}</h5>
            <p class="mb-1 font-semibold text-gray-700">{{ package.credit }} Credits</p>

            <p class="text-2xl font-bold text-[#F4511F] mb-3">৳ {{ package.price }}</p>

            <button data-modal-target="{{ package.credit }}" data-modal-toggle="{{ package.credit }}" class="inline-flex justify-center w-full items-center px-3 py-2 text-sm text-center text-white bg-[#F4511F] rounded-lg hover:bg-[#F4511F]/90 font-bold">
              Buy Now<svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9" />
              </svg>
            </button>
          </div>

          {% comment %}buy credit modal start{% endcomment %}

          <div id="{{ package.credit }}" tabindex="-1" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
            <div class="relative p-4 w-full max-w-md max-h-full">
              <div class="relative bg-white rounded-lg shadow">
                {% comment %}close modal button x{% endcomment %}
                <button type="button" class="absolute top-3 end-2.5 text-gray-400 bg-transparent hover:bg-[#F4511F] hover:text-gray-100 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center" data-modal-hide="{{ package.credit }}">
                  <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                  </svg>
                  <span class="sr-only">Close modal</span>
                </button>

                <div class="p-4 md:p-5">
                  <h2 class="text-2xl text-center text-[#F4511E] font-bold">Buy Credit</h2>

                  {% comment %}payment note and istructions{% endcomment %}

                  <p class="text-sm text-gray-600 my-2">
                    For now we only accept bKash payment. Please send the payment to the following number and enter the transaction ID below.

                    <br />

                    <strong>Payment Number:</strong> 017XXXXXXXX

                    <br />

                    <strong>Payment Amount:</strong> {{ package.price }} BDT

                    <br />

                    <strong>Payment Reference:</strong> Enter your transaction ID below
                  </p>

                  <form action="/buy-credits/" method="post">
                    {% csrf_token %}

                    {% comment %}transaction id{% endcomment %}

                    <div class="mb-3 flex flex-col">
                      <label for="transaction_id" class="form-label">Transaction ID</label>
                      <input type="text" class="border border-gray-400 px-3 py-2 rounded outline-none focus:border focus:border-[#F4511E]" id="transaction_id" name="transaction_id" required placeholder="Enter Transaction ID" />
                    </div>

                    {% comment %}category{% endcomment %}
                    <div class="mb-3 flex flex-col">
                      <label for="category" class="form-label">Credit Package</label>

                      <p class="text-gray-600 text-sm">
                        You are buying <strong>{{ package.credit }} Credits</strong> for <strong>৳ {{ package.price }}</strong>
                      </p>

                      {% comment %} <select name="category" id="category" class="border border-gray-400 px-3 py-2 rounded outline-none focus:border focus:border-[#F4511E]">
                        {% for pack in packages %}
                          <option value="{{ pack.id }}">{{ pack.package_name }}</option>
                        {% endfor %}
                      </select> {% endcomment %}
                    </div>

                    {% comment %}hidden input with user id{% endcomment %}

                    <input type="hidden" name="user_id" value="{{ user.id }}" />

                    {% comment %}hidden input with package id{% endcomment %}
                    <input type="hidden" name="package_id" value="{{ package.id }}" />

                    <button type="submit" class="w-full bg-[#F4511E] text-white font-medium rounded px-5 py-2 hover:shadow-lg duration-200">Submit</button>
                  </form>
                </div>
              </div>
            </div>
          </div>

          {% comment %}buy credit modal end{% endcomment %}
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
