<!-- category.html -->
{% extends 'base.html' %}

{% block title %}Category{% endblock %}

{% block content %}
<div class="properties-headline">
  <h2>All Properties</h2>
<div class="row row-cols-1 row-cols-md-4 g-4">
  {% for prop in property %}
  <div class="col">
    <div class="card h-100 w-100" style="width: 25rem;">
      
      {% if prop.property_img %}
        <!-- Ensure to render the image URL correctly -->
        <img src="{{ prop.property_img.url }}" class="card-img-top" alt="Property Image">
    {% else %}
        <p>No profile image available</p>
    {% endif %}
      <div class="card-body">
        <h5 class="card-title">{{prop.category}}</h5>
        <p class="card-text">{{prop.space}}</p>
        <p class="card-text">{{prop.address}}</p>
        <p class="card-text">৳: {{prop.price}}</p>            
        <a href="#" class="btn btn-primary">View Details</a>
      </div>          
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
