{% extends 'dashboard_base.html' %}
{% load static %}

{% block title %}
  Home
{% endblock %}

{% block content %}
  {% comment %}profile{% endcomment %}
  <div class="container lg:w-1/2 mt-5 mx-auto shadow-lg p-5 rounded-lg">
    <div>
      <div class="flex flex-col items-center py-3">
        <div>
          <!-- Ensure to render the image URL correctly -->
          {% if user_info.image %}
            <img src="{{ user_info.image.url }}" alt="user" class="w-60 h-60 rounded-full object-cover shadow-lg mb-5" />
          {% else %}
            <img src="{% static 'images/user.png' %}" alt="user" class="w-60 h-60 rounded-full object-cover shadow-lg mb-5" />
          {% endif %}
        </div>

        <div class="ml-3">
          <h2 class="text-lg font-semibold text-[#F4511F]">Username: <span class="font-bold">{{ user_info.user.username }}</span></h2>
          <p class="text-base text-gray-600">
            Name: <span class="font-bold">{{ user_info.first_name }} {{ user_info.last_name }}</span>
          </p>
          <p class="text-base text-gray-600">
            Phone: <span class="font-bold">{{ user_info.phone }}</span>
          </p>
          <p class="text-base text-gray-600">
            Email: <span class="font-bold">{{ user_info.user.email }}</span>
          </p>
          <p class="text-base text-gray-600">
            Address: <span class="font-bold">{{ user_info.address }}</span>
          </p>
        </div>
      </div>

      <div class="mt-5 w-full flex justify-center">
        <a href="{% url 'edit-profile' %}" class="w-full text-center bg-[#F4511E] text-white font-medium rounded-lg px-5 py-2 hover:shadow-lg duration-200">EDIT PROFILE</a>
      </div>
    </div>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-5 mt-8">
    <div class="p-5 bg-gray-100 rounded-xl text-black text-end shadow-xl hover:shadow-lg border">
      <h1 class="text-xl font-medium">Properties</h1>
      <h3 class="text-3xl mt-3 text-[#F4511F] font-bold">{{ propertyCount }}</h3>
    </div>

    <div class="p-5 bg-gray-100 rounded-xl text-black text-end shadow-xl hover:shadow-lg border">
      <h1 class="text-xl font-medium">Credits</h1>
      <h3 class="text-3xl mt-3 text-[#F4511F] font-bold">{{ user_info.credit }}</h3>
    </div>

    {% comment %} <div class="p-5 bg-gray-100 rounded-xl text-black text-end shadow-xl hover:shadow-lg border">
      <h1 class="text-xl font-medium">Bookings</h1>
      <h3 class="text-3xl mt-3 text-[#F4511F] font-bold">10</h3>
    </div> {% endcomment %}
  </div>
{% endblock %}
