<!-- login.html -->
{% extends 'base.html' %}
{%load static%}
{% block title %}Login{% endblock %}

{% block content %}

<div class="login-container">
  <div class="row">
    <div class="login">
      <h3 class="text-black text-center text-white">Login Here</h3>

      {% for message in  messages%}
      <div class="alert alert-{{message.tags}} alert-dismissible fade show text-center" role="alert">
        <strong>{{message}}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% endfor %}

      <form action="/login" method="post">
        {% csrf_token %}
        <label class="text-white">User Name</label>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Enter username" name="username"  Required>
        </div>
        <label class="text-white">Password</label>
        <div class="form-group">
          <input type="password" class="form-control" placeholder="Password" name="password" Required>
        </div>
          <div class="d-grid gap-2 mt-4">
          <button class="btn btn-primary fw-bold" type="submit">Log in</button>
          </div>
      </form>
      <p class="fs-6 fw-bold text-white mt-4">New User? <a class="text-warning" href="signup">Sign Up</a></p>

    </div>
  </div>
</div>

{% endblock %}
