{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'CSS/main.css' %}"> 
    <title>Login</title>
  </head>
  <body>
  <div class="container mt-3">
    <div class="row">
      {% comment %}
      <div class="col-md-4 bg-light">
        <img class="img-thumbnail" src="{%static 'images/to-let-vector.jpg'%}">
      </div>
      {% endcomment %}
      <div class="col-md-4 mt-3 signup">
        <h3 class="text-black text-center text-white">Login Here</h3>
        <form action="" method="post">
          <label class="text-white">User Name</label>
          <div class="form-group">
            <input type="text" class="form-control" name="username">
          </div>
          <label class="text-white">Password</label>
          <div class="form-group">
            <input type="password" class="form-control" name="password">
          </div>
            <div class="d-grid gap-2 mt-4">
            <button class="btn btn-primary fw-bold" type="button">Login</button>
            </div>
        </form>
        <p class="fs-5 fw-bold text-white mt-3">New User? <a href="signup">Sign Up</a></p>

      </div>
    </div>




  </div>













    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>