{% extends 'base.html' %}

{% block title %}My Profile{% endblock %}

{% block content %}
<div class="container">
  <div class="card" style="width: 18rem;">
      {% if profile.profile_img %}
          <!-- Ensure to render the image URL correctly -->
          <img src="{{ profile.profile_img.url }}" alt="Profile Image">
      {% else %}
          <p>No profile image available</p>
      {% endif %}
      <div class="card-body">
        <h4 class="card-title">Username: {{profile.user.username}}</h4>
        <!-- <p>Email: {{ profile.user.email }}</p>
        <p>First name: {{ profile.user.first_name }}</p>
        <p>Last name: {{ profile.user.last_name}}</p> -->
        <h5>Name: {{profile.name}}</h5>
        <h5>User rule: {{profile.user_rule}}</h5>
        <h5>Profession: {{profile.profession}}</h5>
        <a href="{% url 'edit-profile' %}" class="btn btn-primary">Edit Profile</a>
      </div>
    </div>
</div>
{% endblock %}
