<!-- home page start -->

{% extends 'base.html' %}
{% load static %}

{% block title %}
  Properties
{% endblock %}

{% block content %}
  {% for message in messages %}
    {% comment %} <div class="alert alert-{{ message.tags }} alert-dismissible fade show text-center" role="alert">
      <strong>{{ message }}</strong>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div> {% endcomment %}

    <div id="toast-warning" class="flex items-center w-full max-w-xs p-4 text-gray-500 bg-white rounded-lg shadow dark:text-gray-400 dark:bg-gray-800 fixed bottom-12 left-5" role="alert">
      <div class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8 text-orange-500 bg-orange-100 rounded-lg dark:bg-orange-700 dark:text-orange-200">
        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
          <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM10 15a1 1 0 1 1 0-2 1 1 0 0 1 0 2Zm1-4a1 1 0 0 1-2 0V6a1 1 0 0 1 2 0v5Z" />
        </svg>
        <span class="sr-only">Warning icon</span>
      </div>
      <div class="ms-3 text-sm font-normal">{{ message }}</div>
      <button type="button" class="ms-auto -mx-1.5 -my-1.5 bg-white text-gray-400 hover:text-gray-900 rounded-lg focus:ring-2 focus:ring-gray-300 p-1.5 hover:bg-gray-100 inline-flex items-center justify-center h-8 w-8 dark:text-gray-500 dark:hover:text-white dark:bg-gray-800 dark:hover:bg-gray-700" data-dismiss-target="#toast-warning" aria-label="Close">
        <span class="sr-only">Close</span>
        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
        </svg>
      </button>
    </div>
  {% endfor %}
  <!-- All Properties -->
  <div class="lg:flex justify-between mt-5">
    <h2 class="text-center lg:text-start pb-2 text-3xl font-bold border-b-2 border-b-[#F4511E]">Property Details</h2>

    {% comment %} <a href="/properties" class="w-full sm:w-auto mt-2 sm:mt-0 bg-[#F4511E] text-white font-medium rounded px-5 py-2 hover:shadow-lg flex items-center duration-200">All Properties</a> {% endcomment %}

    <form class="sm:flex justify-between items-center lg:justify-end gap-2 mt-5 lg:mt-0">
      {% comment %}search input{% endcomment %}

      <input type="subject" class="border border-gray-400 px-3 py-2 rounded outline-none focus:border focus:border-[#F4511E] w-full sm:w-auto" id="search" name="search" placeholder="Search Properties" />

      <div class="flex sm:block justify-end gap-2 mt-2 sm:mt-0">
        {% comment %}Sort By{% endcomment %}

        <select class="text-white bg-[#F4511E] hover:bg-[#F4511F] focus:outline-none font-medium rounded text-sm px-2 py-2.5 text-center inline-flex items-center" name="order" id="order">
          <option class="bg-white text-black" value="">Sort By</option>
          <option class="bg-white text-black" value="price">Price</option>
          <option class="bg-white text-black" value="bedroom">Bedroom</option>
          <option class="bg-white text-black" value="bathroom">Bathroom</option>
          <option class="bg-white text-black" value="floor">Floor</option>
          <option class="bg-white text-black" value="kitchen">Kithen</option>
        </select>

        {% comment %}sorting order{% endcomment %}

        <select class="text-white bg-[#F4511E] hover:bg-[#F4511F] focus:outline-none font-medium rounded text-sm px-2 py-2.5 text-center inline-flex items-center" name="sortBy" id="sortBy">
          <option class="bg-white text-black" value="">Select Order</option>
          <option class="bg-white text-black" value="asc">Ascending</option>
          <option class="bg-white text-black" value="desc">Descending</option>
        </select>

        {% comment %}submit{% endcomment %}

        <button type="submit" class="text-white bg-[#F4511E] hover:bg-[#F4511F] focus:outline-none font-medium rounded text-sm px-5 py-2.5 text-center inline-flex items-center">Search</button>
      </div>
    </form>
  </div>

  <div class="grid grid-cols-1 gap-3 py-10">
    <div class="rounded-xl shadow-xl">
      {% if property.property_img %}
        <!-- Ensure to render the image URL correctly -->
        {% comment %} <img src="{% static '/images/slider-3.jpg' %}" class="rounded-t-xl h-56 object-cover w-full" alt="Property Image" /> {% endcomment %}

        <div class="grid lg:flex gap-4 w-full">
          <div class="w-full">
            <img class="h-96 w-full rounded-lg object-cover" src="{{ property.property_img.url }}" alt="" />
          </div>
          <div class="grid w-full grid-cols-3 gap-4">
            <div>
              <img class="h-auto max-w-full rounded-lg" src="https://www.legrand.com/ecatalogue/modules/custom/legrand_ecat/assets/img/no-image.png" alt="" />
            </div>
            <div>
              <img class="h-auto max-w-full rounded-lg" src="https://www.legrand.com/ecatalogue/modules/custom/legrand_ecat/assets/img/no-image.png" alt="" />
            </div>
            <div>
              <img class="h-auto max-w-full rounded-lg" src="https://www.legrand.com/ecatalogue/modules/custom/legrand_ecat/assets/img/no-image.png" alt="" />
            </div>
            <div>
              <img class="h-auto max-w-full rounded-lg" src="https://www.legrand.com/ecatalogue/modules/custom/legrand_ecat/assets/img/no-image.png" alt="" />
            </div>
            <div>
              <img class="h-auto max-w-full rounded-lg" src="https://www.legrand.com/ecatalogue/modules/custom/legrand_ecat/assets/img/no-image.png" alt="" />
            </div>
          </div>
        </div>
      {% else %}
        <p>No profile image available</p>
      {% endif %}
      <div class="p-5 grid grid-cols-1 lg:grid-cols-2 gap-7">
        <div>
          <span class="bg-green-200 text-green-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-full font-bold">{{ property.category }}</span>

          <h1 class="text-xl sm:text-2xl pt-1 font-bold text-[#F4511E] flex gap-2 items-center">
            <svg class="w-6 h-6 text-[#F4511E]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
              <path fill-rule="evenodd" d="M5 3a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h11.5c.07 0 .14-.007.207-.021.095.014.193.021.293.021h2a2 2 0 0 0 2-2V7a1 1 0 0 0-1-1h-1a1 1 0 1 0 0 2v11h-2V5a2 2 0 0 0-2-2H5Zm7 4a1 1 0 0 1 1-1h.5a1 1 0 1 1 0 2H13a1 1 0 0 1-1-1Zm0 3a1 1 0 0 1 1-1h.5a1 1 0 1 1 0 2H13a1 1 0 0 1-1-1Zm-6 4a1 1 0 0 1 1-1h6a1 1 0 1 1 0 2H7a1 1 0 0 1-1-1Zm0 3a1 1 0 0 1 1-1h6a1 1 0 1 1 0 2H7a1 1 0 0 1-1-1ZM7 6a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h3a1 1 0 0 0 1-1V7a1 1 0 0 0-1-1H7Zm1 3V8h1v1H8Z" clip-rule="evenodd" />
            </svg>Basic Information
          </h1>

          <div class="mt-5">
            <p class="font-medium text-xl">{{ property.title }}</p>
          </div>

          <div class="">
            <p class="text-base">{{ property.description }}</p>
          </div>

          {% comment %}price{% endcomment %}

          <p class="flex items-center gap-2 opacity-70 text-sm mt-5">
            <svg class="w-5 h-5 text-gray-800" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13.6 16.733c.234.269.548.456.895.534a1.4 1.4 0 0 0 1.75-.762c.172-.615-.446-1.287-1.242-1.481-.796-.194-1.41-.861-1.241-1.481a1.4 1.4 0 0 1 1.75-.762c.343.077.654.26.888.524m-1.358 4.017v.617m0-5.939v.725M4 15v4m3-6v6M6 8.5 10.5 5 14 7.5 18 4m0 0h-3.5M18 4v3m2 8a5 5 0 1 1-10 0 5 5 0 0 1 10 0Z" />
            </svg>Price
          </p>

          <h1 class="text-xl sm:text-2xl pt-1 font-bold text-black flex gap-2 items-center">15000 BDT</h1>

          {% comment %}bed , bath, balcony{% endcomment %}

          <div class="flex flex-col gap-1 sm:flex-row gap-3 text-sm font-medium">
            <div>Bedroom: {{ property.rooms }}</div>
            <div>Bathroom: {{ property.washrooms }}</div>
            <div>Kitchen: {{ property.kitchen }}</div>
            <div>Balcony: {{ property.balcony }}</div>
            <div>Floor: {{ property.floor }}</div>
          </div>

          {% comment %}other info section{% endcomment %}

          <div class="pt-8 border-t mt-5 flex justify-between flex-col gap-2 sm:flex-row">
            <div class="text-sm">
              <p class="opacity-70">PROPERTY ID</p>
              <p class="font-medium mt-2">{{ property.id }}</p>
            </div>

            <div class="text-sm">
              <p class="opacity-70">CATEGORY</p>
              <p class="font-bold mt-2">{{ property.category }}</p>
            </div>

            {% comment %} <div class="text-sm">
              <p class="opacity-70">AVAILABLE FROM</p>
              <p class="font-medium mt-2">JUNE, 2024</p>
            </div> {% endcomment %}
          </div>
        </div>

        {% comment %}lcoation Information{% endcomment %}
        <div>
          <h1 class="text-xl sm:text-2xl pt-1 font-bold text-[#F4511E] flex gap-2 items-center">
            <svg class="w-6 h-6 text-[#F4511E]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
              <path fill-rule="evenodd" d="M5 3a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h11.5c.07 0 .14-.007.207-.021.095.014.193.021.293.021h2a2 2 0 0 0 2-2V7a1 1 0 0 0-1-1h-1a1 1 0 1 0 0 2v11h-2V5a2 2 0 0 0-2-2H5Zm7 4a1 1 0 0 1 1-1h.5a1 1 0 1 1 0 2H13a1 1 0 0 1-1-1Zm0 3a1 1 0 0 1 1-1h.5a1 1 0 1 1 0 2H13a1 1 0 0 1-1-1Zm-6 4a1 1 0 0 1 1-1h6a1 1 0 1 1 0 2H7a1 1 0 0 1-1-1Zm0 3a1 1 0 0 1 1-1h6a1 1 0 1 1 0 2H7a1 1 0 0 1-1-1ZM7 6a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h3a1 1 0 0 0 1-1V7a1 1 0 0 0-1-1H7Zm1 3V8h1v1H8Z" clip-rule="evenodd" />
            </svg>Location Information
          </h1>

          {% comment %}info{% endcomment %}
          <div class="mt-5 flex justify-between flex-col gap-2">
            <div class="text-sm">
              <p class="opacity-70">ROAD NO</p>
              <p class="font-medium mt-2">{{ location.road_no }}</p>
            </div>

            <div class="text-sm">
              <p class="opacity-70">Area</p>
              <p class="font-medium mt-2">{{ location.area }}</p>
            </div>

            <div class="text-sm">
              <p class="opacity-70">Post Code</p>
              <p class="font-medium mt-2">{{ location.post_code }}</p>
            </div>
          </div>

          <div class="mt-8 flex justify-between flex-col gap-2 sm:flex-row">
            <div class="text-sm">
              <p class="opacity-70">Thana</p>
              <p class="font-medium mt-2">{{ location.upazila }}</p>
            </div>

            <div class="text-sm">
              <p class="opacity-70">DISCTRICT</p>
              <p class="font-medium mt-2">{{ location.district }}</p>
            </div>

            <div class="text-sm">
              <p class="opacity-70">Country</p>
              <p class="font-medium mt-2">Bangladesh</p>
            </div>
          </div>

          {% if user.is_authenticated %}
            <div class="mt-5 w-full flex justify-center">
              <a href="{% url 'contact-owner' property.id %}" class="w-full text-center bg-[#F4511E] text-white font-medium rounded-lg px-5 py-2 hover:shadow-lg duration-200">CONATCT TO OWNER</a>
            </div>
          {% endif %}

          {% if not user.is_authenticated %}
            <div class="mt-5 w-full flex justify-center">
              <a href="{% url 'login' %}" class="w-full text-center bg-[#F4511E] text-white font-medium rounded-lg px-5 py-2 hover:shadow-lg duration-200">PLEASE LOG IN TO CONATCT OWNER</a>
            </div>
          {% endif %}
        </div>
      </div>

      {% comment %}bottom section{% endcomment %}
      {% comment %} <div class="flex border-t">
        <div class="w-full text-center py-3 border-r">
          <i class="fa-solid fa-bed"></i><span>1</span>
        </div>
        <div class="w-full text-center py-3 border-r">bath</div>
        <div class="w-full text-center py-3">kit</div>
      </div> {% endcomment %}
    </div>
  </div>
{% endblock %}
<!-- home page end -->
