


<!-- Sign-Up.html -->
{% extends 'base.html' %}

{% block title %}Home | My Website{% endblock %}

{% block content %}
<div class="">
  <div class="signup-container">
    {% comment %}
    <div class="col-md-4 bg-light">
      <img class="img-thumbnail" src="{% static 'images/to-let-vector.jpg' %}" />
    </div>
    {% endcomment %}
    <div class="container">
      <div class="signup">
        <h3 class="text-black text-center text-white">Sign Up Here</h3>
        {% for message in messages %}
          <div class="alert alert-{{ message.tags }} alert-dismissible fade show text-center" role="alert">
            <strong>{{ message }}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {% endfor %}
        <form action="signup" method="post">
          {% csrf_token %}
          <label class="text-white">User Name</label>
          <div class="form-group">
            <input type="text" class="form-control" name="username" placeholder="Create username" Required />
          </div>
          <label class="text-white">First Name</label>
          <div class="form-group">
            <input type="text" class="form-control" name="fname" placeholder="Enter your First name" Required />
          </div>
          <label class="text-white">Last Name</label>
          <div class="form-group">
            <input type="text" class="form-control" name="lname" placeholder="Enter your Last name" Required />
          </div>
          <label class="text-white">Email</label>
          <div class="form-group">
            <input type="email" class="form-control" name="email" placeholder="Enter your email" Required />
          </div>
          <label class="text-white">Password</label>
          <div class="form-group">
            <input type="password" class="form-control" name="password" placeholder="Password" Required />
            <p class="text-danger">**Password length must be atleast<b> 8 characters</b></p>
          </div>
          <label class="text-white">Confirm Password</label>
          <div class="form-group">
            <input type="password" class="form-control" name="confirm_password" placeholder="Confirm Password" Required />
            <div class="d-grid gap-2 mt-4">
              <button class="btn btn-primary fw-bold" type="submit">Sign Up</button>
            </div>
          </div>
        </form>
        <p class="fs-7 fw-bold text-white mt-3">
          Already User? <a class="text-warning" href="login">Login</a>
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}

